body {
     background-color: white; 
}

.card-snippet {
    max-height: 6.5rem;
    overflow: hidden;
    color: #555;
    font-size: 0.95rem;
    line-height: 1.4;
}

.article-meta {
    font-size: 0.9rem;
    color: #777;
}

